body {
    font-family: Georgia, serif;
    background-color: #aec6cf;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 50px;
    color: #2929ff;
    font-size: 40px;
}

.play-btn {
    background: #a49dfa;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 20px;
}

.play-btn:hover {
    background: #493df5;
    transform: scale(1.1);
}

.logo {
    max-width: 200px;
    margin: 20px;
}
